body{
    font-family: "Chakra Petch", serif;
    background-color: black;
    overflow-x: hidden;
    background-image: url('../../images/home/undertale2.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A6A6A6;
    margin: 5%;
    height: 70px;
    width: 90%;
    border-radius: 100px;
    h1{
        flex: 1;
        text-align: center;
        color: black;
        margin: 0;
        &#home {
            color: black;
            height: 80%;
            background-color: white;
            border-radius: 100px;
            padding: 0 10px; 
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
        }
    }
}

.main{
    background-color: black;
    border-radius: 10   px;
    .apresentacao{
        h1{
            color:aliceblue;
        }
    }
     
}

#projeto{
    background-color: #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    h1{
        color: black;
        text-align: center;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px;
    }

    h5 {
        position: relative; 
        text-align: center;
        background-color: rgba(166, 166, 166, 0.6);
        color: black;
        border-radius: 10px;
    }

    p {
        color: black;
        background-color: rgba(166, 166, 166, 0.6);
        text-align: center;
        padding: 5px 0;
        border-radius: 10px;
    }
}

#tech-icons{
    background-color: white;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    margin: 0 auto;
    i{
        font-size: 2rem; 
        margin: 5px;
    }
    
}

#apresentacao{
    
    p{
        text-align: center;
        color: gray;
        font-size: x-large;
    }

    span{
        margin: 1%;
        position:relative;
        font-size: 1rem;
        color: black; 
        align-self: center;
    }

    .github-stats{
        text-align: center;
        background-color: #333;

        img{
            margin: 1%;
        }
    }
}



footer {
    background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    li {
        display: inline-block;
        margin: 0 10px;
    }
    
    a {
        color: #fff;
        text-decoration: none;
    }

    .bi {
        margin: 1%;
        position:relative;
        font-size: 3rem;
        color: white; 
        align-self: center;
    }


  }