h1,h2,h3,h4{
    color: white;
}

p {
    color: white;
    width: 500px;
    border: 1px solid black;
  }
  
body{
    background-color: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: darkgray;
    margin: 5%;
    height: 70px;
    width: 90%;
    border-radius: 10px;
    h1{
        flex: 1;
        text-align: center;
        color: black;
        margin: 0;
        &#home {
            color: black;
            height: 80%;
            background-color: white;
            border-radius: 10px;
            padding: 0 10px; 
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
        }
    }
}

.main{
    background-color: aliceblue;
    width: 90%;
    margin: 5%;
    p,h1{
        margin: 0;
        color: black;
        height: auto;
    }

    img{
        width: 350px;
    }
    
}